.Contact {
  .contact-body {
    margin: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 2em;
    background: url('../../../assets/images/dev-desk.png') center no-repeat;
    background-size: cover;
  }

  .contact-grid {
    text-align: center;
    justify-content: center;
    width: 88%;
    height: auto;
    background: white;
    color: black;
    margin-bottom: 20px;
    opacity: 0.8;
    padding-bottom: 2em;

    hr {
      border-top: 5px dashed black;
      width: 50%;
      margin: auto;
    }

    img {
      height: 350px;
      border-radius: 2em;
    }
  }

  .contact-list {
    svg {
      font-size: 50px;
      padding-right: 4rem;
    }
  }
}
