.Home {
  .home-grid {
    background: url('../../../assets/images/dev-desk.png') center no-repeat;
    background-size: cover;
    // background: #536976; /* fallback for old browsers */
    // background: -webkit-linear-gradient(
    //   to right,
    //   #292e49,
    //   #536976
    // ); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(
    //   to right,
    //   #292e49,
    //   #536976
    // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .avatar-image {
    height: 250px;
    padding-top: 5em;
  }

  .banner-text {
    background-color: black;
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 10px;

    h1 {
      font-size: 66px;
      font-weight: bold;
      color: white;
    }

    hr {
      border-top: 5px dashed white;
      width: 50%;
      margin: auto;
    }

    p {
      color: white;
      font-size: 20px;
      padding: 1em;
    }

    .social-links {
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin: auto;

      svg {
        color: white;
        font-size: 5em;
        padding: 10px;
      }
    }
  }
}
