.Projects {
  .projects-container {
    background: url('../../../assets/images/dev-desk.png') center no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;

    .projects-grid {
      display: flex;
    }
  }
}
