body {
  // background: @light-gray5;
  background: #fafafa;
  //font-size: @font-size-default;
  font-family: proxima-nova, Arial, Open Sans;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #1c88a3; //@cyan-dark;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: #39b4d1; //@cyan;

    &.pt-button {
      text-decoration: none;
    }
  }
}
// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
